USE [master]
GO
/****** Object:  Database [DBLogs]    Script Date: 11/22/2025 11:00:17 AM ******/
CREATE DATABASE [DBLogs]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DBLogs', FILENAME = N'C:\Users\Pacheco\DBLogs.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DBLogs_log', FILENAME = N'C:\Users\Pacheco\DBLogs_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DBLogs].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DBLogs]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 11/22/2025 11:00:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IssueLog]    Script Date: 11/22/2025 11:00:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IssueLog](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Project] [nvarchar](max) NULL,
	[Module] [nvarchar](max) NULL,
	[ErrorDescription] [nvarchar](max) NULL,
	[Type] [nvarchar](max) NULL,
	[State] [nvarchar](max) NULL,
	[DateCreated] [datetime2](7) NULL,
	[DateResolved] [datetime2](7) NULL,
 CONSTRAINT [PK_IssueLog] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
USE [master]
GO
